<phpunit>
    <extensions>
        <extension class="Gccm\WindcaveClient\extensions\LoadDotEnv" />
    </extensions>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
        <log type="testdox-html" target="/tmp/testdox.html"/>
        <log type="testdox-text" target="/tmp/testdox.txt"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
            <exclude>
            <file>src/http/HttpClientFactory.php</file>
            <file>src/model/ResultFactory.php</file>
            <file>src/model/TransactionFactory.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>